<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <aside class="scroll">
            
    <div class="scroll" style="background: linear-gradient(90deg,#0724a7 0%,#2947ce 50%,#0724a7 100%);">
      <h1 style="text-align: center;">Table of Contents</h1>
      <div *ngFor="let banner of banners1" style="width:100%;background: rgba(255,255,255,.05);border-bottom:0.5px solid gray ;padding-top: 5px;padding-left:5px"><a href="#banserss">{{banner}}</a></div>
       
    </div>    
    <div class="scroll" style="background: linear-gradient(144deg,#0f38a6 0%,#48e6b4 100%);">
      <h1 style="text-align: center;">Latest Updates</h1>
      <div *ngFor="let banner of banners2"  style="width:100%;background: rgba(255,255,255,.05);border-bottom:0.5px solid gray ;padding-top: 5px;padding-left:5px"><a href={{banner.link}}>{{banner.text}}</a></div>
    </div>    
    </aside>
    
</body>
</html>